<!doctype html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Peter Cs. Forro">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
        <title>
            {% block page_title %}{% endblock %}
        </title>
    </head>
    <body>
        <header id="header">
            <table>
                <tr>
                    <td id="left"><h1>{% block title %}{% endblock %}</h1></td>
                    <td id="right"><nav>{% block nav_btns %}{% endblock %}</nav></td>
                </tr>
            </table>


        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>