{% extends "layout.html" %}


{% block page_title %}
    Gukkify - Registration
{% endblock %}


{% block title %}
    Gukkify - Registration
{% endblock %}


{% block content %}
    <div class="forms" id="register_form">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ form.user_name(placeholder="Gukki name") }}
            {{ form.email(placeholder="E-mail") }}
            {{ form.password(placeholder="Password") }}
            {{ form.confirm_password(placeholder="Confirm Password") }}
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}