{% extends "layout.html" %}


{% block page_title %}
    Gukkify! - Story!
{% endblock %}


{% block title %}
    Gukkify! - Story: {{ post.title }}
{% endblock %}


{% block content %}
    <div class="post_card">
        <p>
            <b>Posted: </b>{{ post.submission_time }}<br>
            <b>Story: </b>{{ post.story }}
    </div>
    {% if files %}
        {% for file in files %}
            <img class="pics" src="https://s3.eu-north-1.amazonaws.com/gukkify69/{{ file.filename }}">
        {% endfor %}
    {% endif %}
{% endblock %}