{% extends "layout.html" %}


{% block page_title %}
    Gukkify! - Story!
{% endblock %}


{% block title %}
    Gukkify! - Story: {{ post.title }}
{% endblock %}


{% block nav_btns %}
     <a href="{{ url_for('home') }}">Home</a>
{% endblock %}



{% block content %}
    <div class="post_card">
            <b>Posted: </b>{{ post.submission_time }}<br>
            <b>Story: </b>{{ post.story }}<br>
            <a href="{{ url_for('delete_post',post_id=post.id) }}">DELETE POST</a>
    </div>
    <div class="image_card">
        {% if files %}
            {% for file in files %}
                <img class="pics" src="static/pictures/{{ file.filename }}">
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}